<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thoughts</title>

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<body>
    <header>
        <a href="/">
            <img src="/assets/lightbulb.svg" alt="Ãcone Thoughts" width="56px">
        </a>

        <nav>
            <a href="/">Pensamentos</a>

            {{#if session.userId}}
            <a href="/thoughts/dashboard">Dashboard</a>
            <a href="/logout">Sair</a>
            {{else}}
            <a href="/login">Login</a>
            <a href="/register">Registrar-se</a>
            {{/if}}
        </nav>
    </header>
    <main>
        {{#if messages.message}}
        <span class="{{messages.class}}-message">
            {{messages.message}}
        </span>
        {{/if}}
        {{{body}}}
    </main>
    <footer>
        <p><span>Thoughts</span> &copy; 2022</p>
    </footer>
</body>

</html>