<form action="" method="POST" class="form-container">
    <h2>Criar pensamento</h2>

    <div class="form-div">
        <label for="title">Título</label>
        <input type="text" name="title" id="title" required>
    </div>

    <button type="submit" class="button">Criar pensamento</button>
</form>